/downloads
/downloads/*
.env
./yt-dlp.exe
./ffmpeg.exe
yt-dlp
ffmpeg
yt-dlp.exe
ffmpeg.exe
cookies.txt
spotdl.exe
log.txt
startbot.bat
playlist.txt
spot-dl.exe
spot-dl
yt-dlp
pyvenv.cfg
venv
/lib
/lib/*
/include/*
/include
/bin/*
/bin
spotifyplaylist.txt
.spotifyenv
.cache
.DS_Store
.windsurfrules
scripts/__pycache__
commands/__pycache__